@font-face {
    font-family: 'customFont1';
    src: url(../fonts/OldStandard-Regular.otf);
}
@font-face {
    font-family: 'customFont1';
    src: url(../fonts/OldStandard-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'customFont1';
    src: url(../fonts/OldStandard-Italic.otf);
    font-style:italic;
}
@font-face {
    font-family: 'headingFont2';
    src: url(../fonts/BebasNeue-Regular.ttf);
    font-weight: bold;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: #ffffff;
    width: 100%;
}
body p, body a{
    font-family: 'customFont1';
    margin: 0;
    padding: 8px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'headingFont2';
    font-weight: bold;
    margin: 0;
}
body ul {
    list-style-position: inside;
    text-align: left;
}
.section-heading{
    color: #ffffff;
    background: #414141;
    border-radius: 10px;
    padding:8px;
    font-size: 1.8em;
    display: inline;
    margin-top: 4px;
    margin-bottom: 4px;
}
div.nav-wrapper{
    width: 100vw;
    height: 3em;
    background: #c4c4c4;
}
div.top-nav {
    align-items: center;
    display: flex;
    column-gap: 3em;
    justify-content: center;
    background: #414141;
    height: 100%;
}
div.top-nav a{
    color: #c4c4c4;
    text-decoration: none;
    transition: 0.8s;
}
div.top-nav a.active{
    font-weight: bold;
    text-decoration: underline;
    color: #ffffff;
}
div.top-nav a:hover{
    color: #ffffff;
    text-decoration: underline;
}
div.hero-wrapper{
    width: 100%;
    height: 15em;
    align-content: center;
    text-align: center;
    background: #414141;
    border-top: 2px #c4c4c4 solid;
}
div.hero-wrapper h1, div.hero-wrapper p{
    color: #ffffff;
    margin: 0px;
}
div.hero-wrapper h1{
    font-size: 5em;
}
div.section-wrapper{
    width: 100%;
    background: #c4c4c4;
    justify-items: center;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}
div.page-nav{
    display: flex;
    flex-direction: column;
    padding: 8px;
    row-gap: 0.5em;
	text-align: center;
    width: 80%;
    border-top: 2px #414141 solid;
    border-bottom: 2px #414141 solid;
    background: #ffffff;
    justify-content: center;
}
div.page-nav a{
    margin-left: auto;
    margin-right: auto;
    border: 1px #414141 solid;
    width: 50%;
    text-decoration: none;
    transition: 0.8s;
    color: #ffffff;
    background: #414141;
    
}
div.page-nav a:hover{
    color: #414141;
    background: #c4c4c4;
}
div.end{
    border-bottom: 2px #414141 solid;
}
div.grid-container-one{
    width: 80%;
    background: #ffffff;
    margin: 0;
    padding: 2.5em;
}
div.grid-container-two{
    background: #ffffff;
    height: 500px;
    display: grid;
    padding: 2.5em;
    grid-template-columns: 40% 60%;
    overflow: hidden;
    margin: 0;
    width: 80%;
}
div.images img{
    float: left;
    width: 90%;
    height: auto;
    object-fit: contain;
    padding: 8px;
}
div.text {
    text-align: center;
}
div.text a{
    text-decoration: none;
    background: #414141;
    color: #c4c4c4;
    padding: 2px;
    transition: 0.8s;
}
div.text a:hover{
    background: #c4c4c4;
    color: #414141;
}
summary {
    transition: 1s;
	font-weight: bold;
}
details{
    padding: 8px;
    transition: 1s;
}
details[closed] summary{
    color: #494949;
}
summary:hover{
    text-decoration: underline;
    color: #c4c4c4;
    cursor: pointer;
}
details[open] summary{
    color: #414141;
    text-decoration: underline;
}
div.lilBoxOfStuff{
    border: 2px #414141 solid;
    /*background: #c4c4c4;*/
	margin: 1em;
}
footer {
    text-align: center;
    background: #414141;
    color: #ffffff;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
}
footer a{
    text-decoration: none;
    margin: 0;
    padding: 4px;
    background: #c4c4c4;
    color: #414141;
    transition: 0.8s;
    border: 2px #c4c4c4 solid;
}
footer a:hover{
    border: 2px #ffffff solid;
    background: #414141;
    color: #c4c4c4;
}

@media only screen and (max-width: 800px) {
    div.grid-container-one{
        width: 100%;
        grid-template-columns: 1fr;
        height:fit-content;
    }
    div.grid-container-two{
	  width: 100%;
      grid-template-columns: 1fr;
      height: fit-content;
    }
    div.page-nav {
        width: 100%;
    }
    div.images{
        margin-bottom: 6px;
    }
}

@media only screen and (max-width: 650px) {
    div.nav-wrapper{
        width: 100vw;
        height: fit-content;
        background: #c4c4c4;
    }
    div.top-nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        justify-content: center;
        background: #414141;
        height: 100%;
    }
    div.top-nav a{
        padding: 0.5px;
    }
    div.hero-wrapper h1{
        font-size: 2.2em;
    }
    div.hero-wrapper{
        height: 10em;
    }
    footer{
        font-size: 0.8em;
        padding: 2px;
    }
    div.images img{
        width: 80%;
    }
    div.images{
        margin-bottom: 6px;
    }
}



